{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
 <link rel="stylesheet" href="{{ url_for('static', filename='css-cleanBlog/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-cleanBlog/styles-admin.css') }}">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/admin-bar.js') }}"></script>

{% endblock %}

{% block title %}Add Stories{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">{{ button }}</h1>
    <form id="{{ function }}" action="{{ url_for(function, id=id) }}" method="post" role="form" class="was-validate" novalidate>
        {{ form.hidden_tag() }}
        <input type="hidden" id="formName" value="story">
        <div class="container">
          <!-- row of data: date -->
          <div class="row">
            <div class="col-6 col-md-4">
                {{ form.date.label }}
                {{ form.date(placeholder="yyyy-mm-dd") }}
<!--                {% if form.date.errors %}-->
<!--                    {% for error in form.date.errors %}-->
<!--                    <div class="invalid-feedback"> {{ error }}</div>-->
<!--                    {% endfor %}-->
<!--                {% endif %}-->
            </div>
            <div class="col-md-8"></div>
          </div>

          <!-- row of data: title, chapter, subtitle -->
          <div class="row">
            <div class="col-6 col-md-4">
                {{ form.chapter.label }}
                {{ form.chapter }}
                <div id="story_chapter" class="invalid-feedback">this field is required</div>
<!--                {% if form.chapter.errors %}-->
<!--                    {% for error in form.chapter.errors %}-->
<!--                    <div class="invalid-feedback" style="display: block"> {{ error }}</div>-->
<!--                    {% endfor %}-->
<!--                {% endif %}-->
            </div>
            <div class="col-6 col-md-4">
                {{ form.title.label }}
                {{ form.title }}
                <div id="story_title" class="invalid-feedback">this field is required</div>
<!--                {% if form.title.errors %}-->
<!--                    {% for error in form.title.errors %}-->
<!--                    <div class="invalid-feedback" style="display: block"> {{ error }}</div>-->
<!--                    {% endfor %}-->
<!--                {% endif %}-->
            </div>
            <div class="col-6 col-md-4">
                {{ form.subtitle.label }}
                {{ form.subtitle }}
                <div id="story_subtitle" class="invalid-feedback">this field is required</div>
<!--                {% if form.subtitle.errors %}-->
<!--                    {% for error in form.subtitle.errors %}-->
<!--                    <div class="invalid-feedback" style="display: block"> {{ error }}</div>-->
<!--                    {% endfor %}-->
<!--                {% endif %}-->
            </div>
          </div>
          <!-- row of data: body, img, main_img-->
          <div class="row">
            <div class="col-8 col-md-8">
<!--                {{ ckeditor.load() }}-->
<!--                {{ ckeditor.config(name='body') }}-->
                {{ form.body.label }}
                {{ form.body }}
                <div id="story_body" class="invalid-feedback">this field is required</div>
<!--                {% if form.body.errors %}-->
<!--                    {% for error in form.body.errors %}-->
<!--                    <div class="invalid-feedback" style="display: block"> {{ error }}</div>-->
<!--                    {% endfor %}-->
<!--                {% endif %}-->
            </div>
            <div class="col-4 col-md-4">
                <div>{{ form.img.label }}</div> <div>{{ form.img(placeholder="name.(jpg, png)") }}</div>
                <div>{{ form.main_img.label }}</div> <div>{{ form.main_img(placeholder="name.(jpg, png)") }}</div>
            </div>
          </div>
         <!-- row of data: checkbox new_story and button "add story, chapter, subtitle -->
          <div class="row">
              <div class="col-6 col-md-4"><div>{{ form.new_story.label }}<span>{{ form.new_story }}</span></div></div>
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4"> </div>
          </div>
            {{ form.submit(value=button) }}
            {% if button == "Update Story & Close" %}
            <button type='submit' form="{{function}}"  formaction="{{ url_for('update_story', id=id, update=1|int ) }}"
                    class="btn btn-outline-primary" > Update Story </button>
            {% endif %}
        </div>
    </form>
</div>


{% endblock %}

