{% import "bootstrap/wtf.html" as wtf %}
{% include 'header.html' %}
        <!-- Page Header-->

        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/contact-me2.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                                <h1>Напиши Мне</h1>
                            <span class="subheading">есть вопросы? я отвечу</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>Хочешь мне написать? Заполни форму ниже и отправь мне сообщение. <br> Я прочту его и отвечу тебе так быстро, как это возможно!</p>
                    <!-- bootstrap form wtf -->
                    <form id="contactForm" name="sentMessage" action="/contact#sendMessageButton" method="POST" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                {{ wtf.form_field(form.name, class="form-control", placeholder="Имя") }}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                {{ wtf.form_field(form.email, class="form-control", placeholder="Емайл") }}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                               {{ wtf.form_field(form.phone, class="form-control", placeholder="Телефон") }}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                {{ wtf.form_field(form.text, class="form-control", placeholder="Сообщение") }}
                            </div>
                        </div>
                        <br />
                        <div id="success"></div>
                        {% with messages = get_flashed_messages() %}
                            <p class="help-block">{{ messages[0] }}</p>
                        {% endwith %}
                        <button class="btn btn-primary" id="sendMessageButton" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
        <hr />
        <!-- Footer-->
{% include 'footer.html' %}