{% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>My Blog</h1>
                            <span class="subheading">Story For My Love</span>
                        </div>
                    </div>
                </div>

            </div>
            <button type="button" class="btn btn-outline-danger" id="letterOpenButton">Вам Письмо</button>
        </header>
        <!-- Main Content-->
<!-- Letter For My Love -->
	<div id="letter" class="shaker">
		<div class="message">
			<div class="part-one" id="part-one-message">
				<div class="message-header">
                    <button type="button" class="close" aria-label="Close" id="letterCloseButton">
                    <span aria-hidden="true"><i class=" fas fa-times"></i></span>
                    </button>
                </div>
				<div class="message-text">Дорогая Аня К.,
                    <br><br>
                    На днях, увидя твою улыбку, улыбнулся тебе в ответ,<br>
                    Именно такой, я тебя хочу и видеть, улыбающейся и довольной, как на этом празднике, <br>
                    Конечно жаль, что это было давно и в своей жизни ты закрылась в себе.<br>
                    Но это все поправимо ☺. Любовь лечит все.<br>
                    Страх проходит, а жизнь наполняется смыслом, когда рядом любимый человек.<br>
                    Когда ты знаешь, что тебя любят и ждут все преграды на пути просто исчезают.<br>
                    Извини, что не писал раньше, думал, что это уже никому не нужно ☺.<br>
                    Но, теперь вижу, что каждый день в тебе живет надежда и любовь. <br>
                    Как говорила, другая "Аня", пришли хотябы точку и на моем лице снова появиться улыбка.<br>
                    Много историй пишу я на этой странице, это все, только для тебя одной.<br>
                    Не бывает не решаемых проблем ☺, из любой ситуации можно найти выход и даже такой нестандартный,
                    как этот. <br>
                    Рад, что тебе нравятся мои сказки, ведь именно они для тебя и твои.<br>
                    Мне пора мой дорогой читатель,


					<br><br> P.s. Я тоже тебя люблю,<br><br> ZhM 🙃
				</div>
				<div class="stamp-wrapper">
					<div class="stamp hvr-buzz" id="stamp-footer">H</div>
				</div>
				<div class="message-footer"></div>
			</div>

		</div>
	</div>

<!-- End of Letter -->




        <!-- Team "News block" -->
        {% include 'news.html' %}
        <!-- ./"News block" -->

        <div class="container">
            <div class="row">
                 {% for post in all_posts %}
                <div class="col-lg-8 col-md-10 mx-auto" >



                        <div class="new-icon" style="background-image: url({{ url_for('static', filename='assets/img/new-icon.png') }})"></div>


                    <div class="masthead post-preview" id="{{ post['id'] }}" style="background-image:linear-gradient( rgba(0 0 0 / 65%), rgba(0, 0, 0, 0.5) ), url({{ url_for('static', filename='assets/img-stories/' +  post['img']|string) }})">
                        <a href="{{ url_for('show_post', index=post['id']) }}">
                            <h2 class="post-title">{{ post['chapter'] + ' ' + post['title'] }}</h2>
                            <h3 class="post-subtitle">{{ post['subtitle'] }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted
                            on {{ dt.fromisoformat(post['date']).strftime('%B %d, %Y') }}
                        </p>
                    </div>
                    <hr />

                    <!-- Pager-->
                </div>
                 {% endfor %}

            </div>
        </div>
        <div class="clearfix"><a class="btn btn-primary float-right mr-4" href="{{ url_for('get_old_posts', index=story_page) }}">{{ name_button }}</a></div>

        <hr />
        <!-- Footer-->
{% include 'footer.html' %}
