{% include 'header_admin.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>My Blog</h1>
                            <span class="subheading">Admin Edit Version</span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-outline-danger" id="letterOpenButton">Вам Письмо</button>
        </header>
<!-- Letter For My Love -->
	<div id="letter" class="shaker">
		<div class="message">
			<div class="part-one" id="part-one-message">
				<div class="message-header">
                    <button type="button" class="close" aria-label="Close" id="letterCloseButton">
                    <span aria-hidden="true"><i class=" fas fa-times"></i></span>
                    </button>
                </div>
				<div class="message-text">Дорогая Аня К.,
                    <br><br>
                    {% if letter: %}
                    {% for row in letter.text.split('\n') %}
                    {{row}} <br>
                    {% endfor %}

                    <br>
                    Мне пора мой дорогой читатель,
					<br><br> P.s. Я тоже тебя люблю,<br><br> ZhM 🙃
                    {{dt.fromisoformat(letter.date).strftime('%d/%m/%Y')}}
                    {% endif %}
				</div>
				<div class="stamp-wrapper">
					<div class="stamp hvr-buzz" id="stamp-footer">H</div>
				</div>
				<div class="message-footer">
                     <div class="row" style="text-align: center;">
                                     <div class="col-lg-4 col-md-4 sm-4 col-4" >
                                      <a href="{{ url_for('add_letter', type_edit='update', _id=letter.id) }}" class="btn btn-outline-primary p-1 m-sm-1">Update</a>
                                     </div>
                                    <div class="col-lg-4 col-md-4 sm-4 col-4" >
                                      <a href="{{ url_for('add_letter', type_edit='add') }}" class="btn btn-outline-success p-1 m-sm-1">Add Letter</a>
                                     </div>
                                     <div class="col-lg-4 col-md-4 sm-4 col-4" >
                                      <a href="{{ url_for('add_letter', type_edit='delete', _id=letter.id )}}" class="btn btn-outline-warning p-1 m-sm-1">Delete</a>
                                     </div>
                                    </div>

                </div>
			</div>

		</div>
	</div>
        <!-- Main Content-->

        <!-- Team "News block" -->
        {% include 'news_admin.html' %}
        <!-- ./"News block" -->

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto" >
                    {% for post in all_posts %}

                    <div class="masthead post-preview" id="{{ post['id'] }}" style="background-image:linear-gradient( rgba(0 0 0 / 65%), rgba(0, 0, 0, 0.5) ), url({{ url_for('static', filename='assets/img-stories/' +  post['img']|string) }})">
                        <a href="{{ url_for('show_post_content', index=post['id']) }}">
                            <h2 class="post-title">{{ post['chapter'] + ' ' + post['title'] }}</h2>
                            <h3 class="post-subtitle">{{ post['subtitle'] }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted
                            on {{ dt.fromisoformat(post['date']).strftime('%B %d, %Y') }}
                        </p>
                        <a href="{{ url_for('update_story', id=post.id ) }}" class="btn btn-outline-primary">Edit Story</a>
                        <a href="{{ url_for('delete_story', id=post.id ) }}" class="btn btn-outline-danger float-right">Delete Story</a>
                    </div>

                    <hr />

                    {% endfor %}
                    <!-- Pager-->
                    <div class="clearfix"><a class="btn btn-primary float-right" href="{{ url_for('add_stories') }}">Add Stories</a></div>
                </div>
            </div>
        </div>
        <hr />
        <!-- Footer-->
{% include 'footer.html' %}
