
	<div class="shaker">
		<div id="template" class="dialog">
			<div class="dialog-body">
				<div id="triangle-wrapper">
					<div class="shadow">
						<div></div>
					</div>
				</div>
				<button class="stamp hvr-buzz" id="stamp-envelope"></button>
			</div>
			<div id="info">открой меня</div>
		</div>

		<div class="message">
			<div class="part-one" id="part-one-message">
				<div class="message-header"></div>
				<div class="message-text"><b>Дорогая моя незнакомка,</b> <br><br>
					 {% for row in letter.text.split('\n') %}
                    	{{row}} <br>
                     {% endfor %}
					Мне пора моя таинственная незнакомка,
					<br><br>
					<b>P.s. Я тоже тебя люблю,</b>
					<div class="stamp-notice">
						<br><br> ZhM 🙃<br>
						{{dt.fromisoformat(letter.date).strftime('%d/%m/%Y')}}
					</div>
					<br><br>
				</div>
				<div class="stamp-wrapper">
					<div class="stamp hvr-buzz" id="stamp-footer">X</div>
				</div>
				<div class="message-footer"></div>
			</div>

		</div>
	</div>