{% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>My Blog</h1>
                            <span class="subheading">Story For My Love</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto" >
                    <div class="masthead post-preview" id="{{ posts[::-1][index]['id'] }}"
                         style="background-image:linear-gradient( rgba(0 0 0 / 65%),
                         rgba(0, 0, 0, 0.5) ), url({{ url_for('static', filename='assets/img-stories/'
                         +  posts[::-1][index]['img']|string) }})">
                        <a href="{{ url_for('show_post', index=posts[::-1][index]['id']) }}">
                            <h2 class="post-title">{{ posts[::-1][index]['chapter'] + ' ' + posts[::-1][index]['title'] }}</h2>
                            <h3 class="post-subtitle">{{ posts[::-1][index]['subtitle'] }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted
                            on {{ dt.fromisoformat(posts[::-1][index]['date']).strftime('%B %d, %Y') }}
                        </p>
                    </div>
                    <hr />

                    <!-- button group for previous story -->
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"
                         style="justify-content: center">

                          {% for post in posts %}
                          <div class="btn-group mr-2" role="group" aria-label="First group">

                              <a href="{{ url_for('get_old_posts', index=post.id, _anchor=post.id) }}" id="{{post.id}}" type="button"
                             {% if post.id - 1 == index: %}
                                 class="btn btn-outline-secondary active"
                            {% else %}
                                 class="btn btn-outline-secondary"
                            {% endif %}
                                 title="{{ post.title }}">{{post.id}}</a>

                          </div>
                          {% endfor %}
                    </div>
                    <!-- Pager-->

                </div>
            </div>
        </div>
        <hr />
        <!-- Footer-->
{% include 'footer.html' %}
