{% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/email.png') }})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>Сообщение</h1>
                            <span class="subheading">отправлено успешно</span>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- Main Content-->

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto text-center" >

                    <!-- Pager-->
                   <div class="clearfix">
                       <a class="btn btn-primary" href="/home"><i class="fas fa-home text-white"></i> Home</a>
                   </div>
                </div>
            </div>
        </div>
        <hr />
        <!-- Footer-->




{% include 'footer.html' %}
