 <div class="container">
            <div class="row">
                 {% for post in all_posts %}
                <div class="col-lg-8 col-md-10 mx-auto" >



                        <div class="new-icon"
                             style="background-image: url({{ url_for('static', filename='assets/img/new-icon.png') }})"></div>


                    <div class="masthead post-preview" id="{{ post['id'] }}" style="background-image:linear-gradient( rgba(0 0 0 / 65%), rgba(0, 0, 0, 0.5) ), url({{ url_for('static', filename='assets/img-stories/' +  post['img']|string) }})">
                        <a href="{{ url_for('show_post', index=post['id']) }}">
                            <h2 class="post-title">{{ post['chapter'] + ' ' + post['title'] }}</h2>
                            <h3 class="post-subtitle">{{ post['subtitle'] }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted
                            on {{ dt.fromisoformat(post['date']).strftime('%B %d, %Y') }}
                        </p>
                    </div>
                    <hr />

                    <!-- Pager-->
                </div>
                 {% endfor %}

            </div>
        </div>
        <div class="clearfix">
            <a class="btn btn-primary float-right mr-4" href="{{ url_for('get_old_posts', index=story_page) }}">
                {{ name_button }}</a>
        </div>

        <hr />