

         <ul class="comics__grid" data-btFade = "{{ btFade }}">
             {% for post in all_posts %}


            <li class="comics__item"
                tabIndex=""
                id="card{{ post['id'] }}"

            >
             {% if post.new_story %}
                 <div class="new-icon"
                      style="background-image: url({{ url_for('static', filename='assets/img/new-icon.png') }})">

                 </div>
             {% endif %}
                <a href="{{ url_for('show_post', index=post['id']) }}">
                    <div class="comics__wrapper">
                    <img src="{{ url_for('static', filename='assets/img-stories/' +  post['img']|string) }}"
                         style="object-fit:cover" alt="abyss"
                         class="comics__item-img"/>
                        <div class="comics__text">
                            <p>{{ post['subtitle'] }}</p>
                        </div>
                    </div>

                <div class="comics__item-name">{{ post['chapter'] + ' ' + post['title'] }}</div>
                <div class="comics__item-data">{{ dt.fromisoformat(post['date']).strftime('%B %d, %Y') }}</div>
               </a>
            </li>
             {% endfor %}
        </ul>


